.book .book-body .page-wrapper .page-inner section.normal code {
    white-space: nowrap;
    max-width: 100%;
    background: #fff;
    border: solid 1px #e1e4e5;
    font-size: 90%;
    padding: 0 5px;
    color: red;
    overflow-x: auto;
}